/* Reseteo básico para que se vea igual en todos los navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}.body4{
    background-color: #e1e1e1; /* Fondo gris claro para contrastar la tarjeta */
}

/* Contenedor principal (la tarjeta blanca) */
.contenedor-formulario {
    background-color: #ffffff;
    width: 100%;
    max-width: 450px;
    padding: 40px 30px;
    margin: 20px auto ;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

/* Título */
.contenedor-formulario h2 {
    text-align: center;
    font-size: 22px;
    color: #000;
    margin-bottom: 30px;
}

/* Subrayado verde debajo del texto */
.subrayado-verde {
    border-bottom: 3px solid #32a852;
    padding-bottom: 2px;
}

/* Fila para los inputs de Nombre y Apellido */
.fila-doble {
    display: flex;
    gap: 15px; /* Espacio entre los dos campos */
    margin-bottom: 15px;
}

.fila-doble input {
    width: 50%;
}

/* Estilos generales para inputs, select y textarea */
input, select, textarea {
    width: 100%;
    background-color: #e6e6e6; /* Fondo gris claro */
    border: 1px solid #dcdcdc; /* Borde muy sutil */
    padding: 12px 15px;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    outline: none;
    margin-bottom: 15px;
}

/* Cambiar el color del texto de relleno (placeholder) */
input::placeholder, textarea::placeholder {
    color: #666;
}

/* Ajustes específicos para el Select (menú desplegable) */
.contenedor-select {
    position: relative;
}

select {
    appearance: none; /* Quita la flecha por defecto del navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

/* Flecha personalizada para el select */
.contenedor-select::after {
    content: "⌄";
    font-size: 24px;
    color: #555;
    position: absolute;
    right: 15px;
    top: 5px;
    pointer-events: none;
}

/* Ajustes específicos para el área de texto */
textarea {
    resize: none; /* Evita que el usuario cambie el tamaño libremente */
}

/* Botón de Enviar */
.btn-enviar {
    background-color: #32a852; /* Color verde */
    color: white;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 10px auto 0 auto; /* Centrar el botón */
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #288a42; /* Verde más oscuro al pasar el mouse */
}

